* {
    margin: 0;
    padding: 0;
}

ul {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin-left: 20px;
    margin-right: 20px;
}

#buttons {
    text-align: center;
}

input {
    height: auto;
}

#reset {
    height: 50px;
    width: 70px;
}

#container {
    border: 1px solid orange;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.divs {
    position: relative;
    width: calc(100% / 16);
    height: calc(100% / 16);
}